.container {
    margin: 2%;
    padding: 2px;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
}

button {
    padding: 4px 8px;
    margin: 4px;
}

label {
    font-weight: bold;
    margin: 4px;
}

#dog-input {
    margin: 2px;
}

.row {
    margin: 4px;
}

form {
    float: right;
}

#dog-view {
    /* float: left; */
    margin: 2px 4px;
}

p {
    margin: 10px;
}

img {
    margin: 10px;
    height: 200px;
    width: 200px;
}